## Assignment 2

In [1]:
x = [1,2,3,4, [10,20,30,40,[100,200,300,400],"rishabh_",5+5j], 4000]

In [2]:
x[4][:2]

[10, 20]

In [3]:
x[4][-1]

(5+5j)

In [4]:
x[4][4][2:]

[300, 400]

In [5]:
x[4][3:-1]

[40, [100, 200, 300, 400], 'rishabh_']

In [64]:
def func():
    temp = []
    for i in range(1,22):
        for j in range(i,22):
            if (i+j)%2 ==0 and (i+j)<22:
                temp.append((i,j))
    return temp

In [65]:
func()

[(1, 1),
 (1, 3),
 (1, 5),
 (1, 7),
 (1, 9),
 (1, 11),
 (1, 13),
 (1, 15),
 (1, 17),
 (1, 19),
 (2, 2),
 (2, 4),
 (2, 6),
 (2, 8),
 (2, 10),
 (2, 12),
 (2, 14),
 (2, 16),
 (2, 18),
 (3, 3),
 (3, 5),
 (3, 7),
 (3, 9),
 (3, 11),
 (3, 13),
 (3, 15),
 (3, 17),
 (4, 4),
 (4, 6),
 (4, 8),
 (4, 10),
 (4, 12),
 (4, 14),
 (4, 16),
 (5, 5),
 (5, 7),
 (5, 9),
 (5, 11),
 (5, 13),
 (5, 15),
 (6, 6),
 (6, 8),
 (6, 10),
 (6, 12),
 (6, 14),
 (7, 7),
 (7, 9),
 (7, 11),
 (7, 13),
 (8, 8),
 (8, 10),
 (8, 12),
 (9, 9),
 (9, 11),
 (10, 10)]

In [86]:
abc = '@@@#$ASEEMsds11#&*32)'

import re
s = re.sub(r"[a-zA-Z0-9]","",abc)

In [87]:
## This means "substitute every character that is not a number, or a character in the range 
# 'a to z' or 'A to Z' with an empty string".

In [88]:
abc = {} 
  
for i in s: 
    if i in abc: 
        abc[i] += 1
    else: 
        abc[i] = 1

In [89]:
abc

{'@': 3, '#': 2, '$': 1, '&': 1, '*': 1, ')': 1}

In [90]:
## 4. Write a program to print a list of numbers which has cube of odd numbers in the range of 1 to 50

In [142]:
i=1
temp =[]
while ((i*i*i) <51) and (i%2!=0):
    temp.append(i)
    i=i+2

In [143]:
temp

[1, 3]

In [144]:
#5. Write a program to print the copy of the list which has all the elements multiplied by 3, 
#   but it should reflect the result to the original list.

In [145]:
abc = [1,2,3,4,5]

temp =[]
for i in abc:
    temp.append(i*3)

In [146]:
temp

[3, 6, 9, 12, 15]

In [147]:
#6. Write a program to calculate the length of each word in the sentence.

In [169]:
x = "Hello world I am learning python"
abc ={}

aa = x.split()
for i in aa:
    abc[i]= len(i)

In [170]:
abc

{'Hello': 5, 'world': 5, 'I': 1, 'am': 2, 'learning': 8, 'python': 6}

In [180]:
#7. Write a program to retun True if the list consist of only integer values, and if not then return False

In [224]:
abc = [1,2,3,4,5, 'Aseem', 32]

def list_integer_or_not(abc):
    a = True
    for i in abc:
        if type(i)==int:
            continue
        else:
            a = False
            break
    return a

In [225]:
list_integer_or_not(abc)

False